@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "SFPRODISPLAY";
  src: url("../fuentes/SFPRODISPLAYBOLD.OTF"); }

@font-face {
  font-family: "SFPRODISPLAY-Regular";
  src: url("../fuentes/SFPRODISPLAYREGULAR.OTF"); }

@font-face {
  font-family: "SFPRODISPLAY-Medium";
  src: url("../fuentes/SFPRODISPLAYMEDIUM.OTF"); }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  --fuente-vietnam: "Be Vietnam Pro", sans-serif;
  --fuente-manrope: "Manrope", sans-serif;
  --color-azul: #003acc;
  --color-naranja: #ff5708; }

a {
  text-decoration: none; }

li,
ol {
  list-style: none; }

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1280px; }

button {
  cursor: pointer; }

.contentLogin {
  height: 100vh;
  display: flex;
  position: relative; }
  .contentLogin::before {
    content: "";
    position: absolute;
    background-color: #78b548;
    height: 114px;
    width: 100%;
    z-index: -1; }
  .contentLogin .part1 {
    background-color: #78b548;
    padding: 20px 80px; }
    .contentLogin .part1 img {
      width: 112px; }
    .contentLogin .part1 .contentText {
      display: none; }
    .contentLogin .part1 .container {
      max-width: 1600px; }
  .contentLogin .part2 {
    width: 50%;
    background-color: #fff; }
    .contentLogin .part2 .formulario {
      padding: 40px 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: calc(100% - 114px);
      transform: translateY(-30px); }
      .contentLogin .part2 .formulario h1 {
        color: #003c3e;
        text-align: center;
        font-family: SFPRODISPLAY;
        font-size: 36px;
        font-weight: 700; }
      .contentLogin .part2 .formulario p {
        color: rgba(0, 60, 62, 0.5);
        text-align: center;
        font-family: SFPRODISPLAY-Regular;
        font-size: 18px;
        font-weight: 500;
        line-height: 34px;
        margin-top: 5px; }
      .contentLogin .part2 .formulario form {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 455px; }
        .contentLogin .part2 .formulario form label {
          width: 100%;
          position: relative; }
          .contentLogin .part2 .formulario form label p {
            color: rgba(0, 60, 62, 0.5);
            text-align: start;
            font-family: SFPRODISPLAY-Regular;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 7px; }
          .contentLogin .part2 .formulario form label input {
            width: 100%;
            border-radius: 8px;
            border: 1.5px solid #003c3e;
            height: 56px;
            color: #003c3e;
            font-family: SFPRODISPLAY-Regular;
            font-size: 16px;
            font-weight: 500;
            padding: 0 11px;
            padding-right: 37px; }
            .contentLogin .part2 .formulario form label input.error {
              border: 1.5px solid #c53030; }
          .contentLogin .part2 .formulario form label.correo::before {
            content: "";
            position: absolute;
            bottom: 17px;
            right: 10px;
            width: 24px;
            height: 24px;
            background-image: url(../imgs/arroba.svg);
            background-repeat: no-repeat;
            background-size: 100%; }
          .contentLogin .part2 .formulario form label.contraseña::before {
            content: "";
            position: absolute;
            bottom: 17px;
            right: 10px;
            width: 24px;
            height: 24px;
            background-image: url(../imgs/candado.svg);
            background-repeat: no-repeat;
            background-size: 100%; }
        .contentLogin .part2 .formulario form .checkbox {
          display: flex;
          gap: 7px;
          align-items: center; }
          .contentLogin .part2 .formulario form .checkbox input {
            display: none; }
          .contentLogin .part2 .formulario form .checkbox label {
            width: 18px;
            height: 18px;
            flex-shrink: 0;
            border-radius: 3px;
            border: 1px solid #003c3e;
            position: relative; }
          .contentLogin .part2 .formulario form .checkbox p {
            line-height: normal;
            margin-top: 0; }
          .contentLogin .part2 .formulario form .checkbox.active label::before {
            content: "";
            width: 100%;
            height: 100%;
            background-image: url(../imgs/checkboxActivo.png);
            position: absolute;
            background-repeat: no-repeat;
            background-size: 100%;
            top: 0;
            left: 0; }
        .contentLogin .part2 .formulario form .mensajeError {
          border-radius: 6px;
          background: #ffe8e8;
          display: flex;
          align-items: center;
          padding: 7px 10px;
          gap: 7px;
          display: none; }
          .contentLogin .part2 .formulario form .mensajeError svg {
            flex-shrink: 0; }
          .contentLogin .part2 .formulario form .mensajeError p {
            color: #c53030;
            font-family: SFPRODISPLAY-Regular;
            font-size: 14px;
            font-weight: 500;
            text-align: start;
            line-height: normal;
            margin-top: 0; }
          .contentLogin .part2 .formulario form .mensajeError.active {
            display: flex; }
        .contentLogin .part2 .formulario form button {
          border-radius: 8px;
          background: rgba(0, 60, 62, 0.5);
          border: none;
          color: #003c3e;
          text-align: center;
          font-family: SFPRODISPLAY-Regular;
          font-size: 16px;
          font-weight: 500;
          padding: 20px 10px; }
  .contentLogin .contentImg {
    /*width: 50%;
    position: relative;
    overflow: hidden;*/
    width: calc(50% - 20px);
    position: relative;
    overflow: hidden;
    position: absolute;
    height: calc(100vh - 40px);
    right: 20px;
    top: 50%;
    transform: translateY(-50%); }
    .contentLogin .contentImg img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      min-width: 100%;
      object-fit: cover; }

@media (max-width: 1440px) {
  .contentLogin .part1 {
    background-color: #78b548;
    padding: 20px 45px; }
  .contentLogin .part2 .formulario {
    transform: translateY(0); } }

@media (max-width: 850px) {
  .contentLogin .contentImg {
    display: none; }
  .contentLogin .part2 {
    width: 100%; }
  .contentLogin .part2 .formulario form {
    margin-top: 20px; } }

@media (max-width: 500px) {
  body {
    background-color: #78b548; }
  .contentLogin .part2 .formulario h1,
  .contentLogin .part2 .formulario p.p2 {
    display: none; }
  .contentLogin .part2 {
    border-radius: 15px 15px 0 0; }
  .contentLogin .part2 .formulario {
    justify-content: start; }
  .contentLogin .part2 .formulario form {
    margin-top: 0px; }
  .contentLogin .part2 .formulario {
    padding: 15px 20px; }
  .contentLogin .part1 img {
    width: 98px;
    margin: 0 auto;
    display: flex; }
  .contentLogin .part1 .contentText {
    display: block; }
  .contentLogin .part1 h2 {
    color: #fff;
    font-family: SFPRODISPLAY;
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center; }
  .contentLogin .part1 p {
    color: #fff;
    text-align: center;
    font-family: SFPRODISPLAY-Regular;
    font-size: 16px;
    font-weight: 500; }
  .contentLogin .part1 {
    padding-top: 60px; }
  .contentLogin .part2 .formulario form label input {
    height: 50px; }
  .contentLogin .part2 .formulario form .mensajeError p {
    font-size: 13px; }
  .contentLogin .part2 .formulario form label.correo::before,
  .contentLogin .part2 .formulario form label.contraseña::before {
    bottom: 15px; } }
